body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: rgb(10, 10, 10);
    background: whitesmoke;
}
.control-label {
    color: blue;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
}
span {
    color: red;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
}